@model OrderApp.Models.Product

@{
    ViewData["Title"] = "Detalles del Producto";
}

<h1>Detalles del Producto</h1>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-9">
            $@Html.DisplayFor(model => model.Price)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-sm-9">
            <span class="@(Model.Stock < 10 ? "text-danger fw-bold" : "")">
                @Html.DisplayFor(model => model.Stock) unidades
            </span>
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt class="col-sm-3">
            Estado
        </dt>
        <dd class="col-sm-9">
            @if (Model.IsActive)
            {
                <span class="badge bg-success">Activo</span>
            }
            else
            {
                <span class="badge bg-danger">Inactivo</span>
            }
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>
</div>

<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
</div>