@model List<OrderApp.Models.CartItem>
<h2>Carrito</h2>
@if (!Model.Any())
{
    <p>Carrito vacío.</p>
}
else
{
    <form asp-action="Checkout" method="post">
        <table class="table">
            <tr><th>Producto</th><th>Precio</th><th>Cantidad</th><th>Subtotal</th></tr>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.Name</td>
                    <td>@i.UnitPrice</td>
                    <td>@i.Quantity</td>
                    <td>@(i.UnitPrice* i.Quantity)</td>
                </tr>
            }
        </table>
        <p><b>Total:</b> @ViewBag.Total</p>
        <button type="submit" class="btn btn-success">Confirmar Pedido</button>
    </form>
}
